body {
    background-image: url(https://wallpapercat.com/w/full/d/5/c/116591-2560x1600-desktop-hd-drake-wallpaper-image.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
table, tr, td, tr, td {
    border: 2px solid rgb(0, 0, 0);
    margin: 0 auto;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    width: 550px;
}

h1 {
    text-align: center;
}

h3 { text-align: center;
}